.pt_15{padding-top: 1.5rem;}
.pb_15{padding-bottom: 1.5rem;}
.pb_30{padding-bottom: 3rem;}
.pb_40{padding-bottom: 4rem;}
.pb_5{padding-bottom: .5rem;}
.pb_20{padding-bottom: 2rem;}
.pt_20{padding-top: 2rem;}
.ml_15{margin-left: 1.5rem;}